/* 张祥庚，用于制作blog */
/* bothqia@126.com */
/* guangzhou */
/* 2016.4.7 */
/* 版本0.0.2 */
/* ps:版本0.0.1起始于 2016.3.8 */
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*font-size: 62.5%;*/
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  font-size: 2.8rem;
  color: #2c2c2c;
  width: 100%;
  background: #fefefe;
  font-family: "Microsoft YaHei";
  position: relative;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-size: 2.8rem;
}
input,
select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: 0;
  /* -webkit-appearance: none*/
}
input::-webkit-input-placeholder {
  color: #606060;
}
li {
  list-style: none;
  font-size: 0;
}
a,
a:hover {
  color: #2c2c2c;
  text-decoration: none;
}
i {
  font-style: inherit;
}
input::-webkit-input-placeholder {
  color: #c7c7c7;
}
input:-moz-placeholder {
  color: #c7c7c7;
}
.u-btn {
  display: inline-block;
  padding: 5px 10px;
  background: #7fff00;
  font-family: "Microsoft Yahei";
  color: #333;
  font-size: 12px;
  cursor: pointer;
}
.u-btn-main {
  color: #333;
  background: #efefef;
  border: 1px solid #666;
}
.u-btn-main:hover {
  color: #000;
  background: #ccc;
  border: 1px solid #000;
}
.u-btn-small {
  color: #333;
  background: #efefef;
  border: 1px solid #666;
}
.u-btn-small:hover {
  color: #000;
  background: #ccc;
  border: 1px solid #000;
}
.s-title {
  font-size: 1.6rem;
  font-weight: 700;
}
.s-panel {
  font-size: 1.6rem;
}
.s-logo {
  font-size: 36px;
  color: #3399cc;
}
.s-tips,
.s-tips:hover {
  color: #007fff;
}
.s-link,
.s-link:hover {
  color: #38b0de;
  text-decoration: underline;
}
.s-note {
  color: #ccc;
}
.s-red {
  color: red;
}
.u-icon {
  display: inline-block;
}
.u-label {
  cursor: pointer;
}
.u-input-large {
  width: 400px;
}
/* 箭头 */
.u-popover .arrow,
.u-popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.u-popover .arrow {
  border-width: 11px;
}
.u-popover .arrow:after {
  content: "";
  border-width: 10px;
}
.u-popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.u-popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.u-popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.u-popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.u-popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #c2c2c2;
}
.u-popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.u-popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #c2c2c2;
}
.u-popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.u-input {
  display: inline-block;
}
.u-input-detail {
  border: none;
  background: none;
  border-bottom: 1px solid #666;
  padding: 2px 2px;
}
.u-input-check {
  height: 16px;
  width: 16px;
}
.u-no,
.u-qus,
.u-qus span {
  font-size: 16px;
}
.u-input-label {
  font-size: 16px;
}
.u-input-tips {
  font-size: 16px;
  padding-left: 10px;
}
.u-content {
  padding-left: 10px;
}
.u-content li {
  margin-bottom: 5px;
}
.u-qus-btn-cell {
  float: left;
  vertical-align: middle;
  border: 1px solid #85c449;
  text-align: center;
  margin: 0px 4px;
  border-radius: 4px;
}
.u-qus-btn {
  vertical-align: bottom;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  color: #6d6e71;
  text-decoration: none;
  padding-right: 6px;
  padding-left: 6px;
}
.u-qus-btn:hover {
  color: #ff6600;
}
.z-anchor {
  width: 400px;
  height: 18px;
}
.u-anchor-tips {
  color: #ef4d58;
  font-size: 14px;
  padding-left: 20px;
  line-height: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.u-table {
  width: 100%;
}
.u-table thead tr {
  background: #e1e0e0;
  overflow: hidden;
}
.u-table .u-table-left {
  text-align: left;
  padding-left: 10px;
}
.u-table thead tr th,
.u-table tbody tr td {
  font-size: 16px;
  text-align: center;
  border: none;
  height: 24px;
  line-height: 24px;
}
.u-tb {
  font-size: 16px;
  display: inline-block;
}
.u-com-btn {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 0;
  cursor: pointer;
  background: #f17819;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0 15px;
  overflow: visible;
}
.u-dl {
  font-size: 16px;
}
.u-dl dt,
.u-dl dd {
  display: inline-block;
}
.u-dl dt.normal {
  width: 68px;
}
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-hd,
.f-dn {
  display: none;
}
.f-ib {
  display: inline-block;
}
.f-tc {
  text-align: center;
}
.f-tr {
  text-align: right;
}
.g-head {
  width: 1200px;
  margin: 0 auto;
}
.g-body {
  width: 1200px;
  margin: 0 auto;
  background-color: #efefef;
  overflow: auto;
}
.m-logo {
  padding: 20px;
}
.m-nav {
  background-color: #ccc;
  padding-left: 20px;
}
.m-nav li {
  float: left;
  font-size: 16px;
  padding: 10px;
}
.m-nav .z-active a {
  color: #fff;
}
.m-edit-bar {
  background: #0095da;
  padding: 0 2px;
}
.u-edit-item {
  background: #0095da;
  font-size: 0;
  float: left;
}
.u-edit-item a {
  display: inline-block;
  width: 68px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
}
.m-qus-zone {
  padding: 10px 30px;
}
.m-tips {
  border-bottom: 1px dashed #ccc;
}
.m-items {
  padding-top: 20px;
  padding-bottom: 15px;
  border: 1px solid transparent;
}
.m-items:hover {
  border: 1px solid #c90029;
  cursor: move;
}
.m-preview {
  padding: 0 30px;
}
.m-preview .m-tips {
  margin-top: 20px;
  padding-bottom: 15px;
}
.m-title-qus {
  margin-bottom: 10px;
}
.m-complete-btn {
  margin: 10px 10px;
}
.m-detail {
  background: #fff;
  padding: 5px 20px;
  margin: 5px 10px;
}
.m-detail-title .u-dl {
  height: 24px;
  line-height: 24px;
}
.m-detail-title .u-dl .t {
  text-align: right;
}
.m-detail-title .u-dl .c {
  margin-left: 5px;
}
.m-detail-title .u-input-detail {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}
.m-detail-title .u-input-large {
  width: 400px;
}
.m-option-box {
  margin-top: 10px;
}
.m-option-handle {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.m-option-handle .u-items {
  font-size: 0;
}
.m-option-handle .u-items .item {
  float: left;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
}
#l-map {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
#result {
  width: 100%;
}
li {
  line-height: 28px;
}
.cityList {
  height: 320px;
  width: 372px;
  overflow-y: auto;
}
.sel_container {
  z-index: 9999;
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 140px;
  background: rgba(255, 255, 255, 0.8);
  height: 30px;
  line-height: 30px;
  padding: 5px;
}
.map_popup {
  position: absolute;
  z-index: 200000;
  width: 382px;
  height: 344px;
  right: 0px;
  top: 40px;
}
.map_popup .popup_main {
  background: #fff;
  border: 1px solid #8BA4D8;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.map_popup .title {
  background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
  color: #6688CC;
  font-weight: bold;
  height: 24px;
  line-height: 25px;
  padding-left: 7px;
}
.map_popup button {
  background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 4px;
  top: 6px;
  width: 12px;
}
.m-ct {
  padding: 20px;
}
.m-l {
  float: left;
  width: 35%;
}
.m-r {
  float: left;
  width: 60%;
  margin-left: 5%;
}
.m-msg {
  margin: 10px 0;
  min-height: 60px;
  padding: 0 10px;
}
.m-btn-box {
  margin-top: 10px;
}
.m-btn-box .u-btn {
  margin-right: 10px;
}
